@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);
  --Bright-Blue: hsl(224, 93%, 58%);
  --Moderate-Cyan: hsl(170, 45%, 43%);
  --Light-Grayish-Blue: hsl(240, 75%, 98%);
  --Light-Gray: hsl(0, 0%, 75%);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: var(--Very-Dark-Blue);
}

.container {
  display: inherit;
  flex-direction: column;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 1em;
}

.logo img {
  width: 6.5rem;
  /* border: 1px solid darkcyan; */
}

/* h1,
p {
  border: 1px solid lawngreen;
} */

.menu {
  font-family: "Raleway", sans-serif;
  /* border: 1px solid red; */
}

.menu a {
  padding: 0 0 0 0.5em;
  text-decoration: none;
  color: inherit;
  /* border: 1px solid blue; */
}

.menu a:hover {
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column-reverse;
  padding: 2em 2em 5em 2em;
  /* border: 1px solid fuchsia; */
}

.left-content {
  display: inherit;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  /* border: 1px solid blue; */
}

.left-content h1 {
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.5em;
  /* border: 1px solid darkcyan; */
}

.input-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* border: 1px solid red; */
}

.input-form > input {
  padding: 1em 2em;
  border-radius: 3px;
  margin-bottom: 1em;
  border: 1px solid hsl(238, 22%, 44%);
}

input::placeholder {
  color: var(--Light-Gray);
}

.btn {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  height: 3em;
  border-radius: 3px;
  background-color: var(--Bright-Blue);
  color: white;
  border: none;
  box-shadow: 0px 3px 10px 1px hsl(0, 0%, 75%);
}

.right-content {
  display: inherit;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  flex: 50%;
  padding: 5em;
  /* border: 1px solid darkcyan; */
}

.right-content > img {
  max-width: 100%;
  /* margin: 70px auto; */
  /* border: 1px solid red; */
}

.curve {
  z-index: -1;
  background: url(images/bg-curve-mobile.svg) no-repeat;
  background-size: cover;
  height: 11em;
  background-position: center;
  margin-bottom: -6em;
}

.content-shadow {
  background-color: var(--Light-Grayish-Blue);
}

.content-shadow p {
  text-align: initial;
}

.content-shadow .left-content {
  align-items: center;
}

.testimonial-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 80%;
  background-color: white;
  margin-top: 3em;
  border-radius: 5px;
  padding: 1.5em 1em;
  box-shadow: 0px 0px 10px 8px hsl(0, 0%, 75%, 0.3);
  /* border: 1px solid red; */
}

.testimonial-card > img {
  height: 1em;
  align-self: flex-start;
  /* border: 1px solid darkcyan; */
}

.testimonial-card p {
  font-size: 11px;
}

.profile {
  display: inherit;
  /* border: 1px solid darkcyan; */
}

.avatar {
  height: 2.5em;
  width: 2.5em;
  border-radius: 150px;
  margin-right: 20px;
  /* border: 1px solid red; */
}

.profile-data {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-direction: column;
  text-align: initial;
  /* border: 1px solid grey; */
}

.profile-name {
  font-weight: bold;
  font-size: 11px;
  /* border: 1px solid grey; */
}

.profile-company {
  font-size: 10px;
  /* border: 1px solid grey; */
}

.early-access {
  flex-direction: column;
  background-color: var(--Desaturated-Blue);
  color: white;
}

.column-form {
  flex-direction: column;
  justify-content: center;
}

.column-form > .btn {
  box-shadow: 0px 2px 2px 0px hsla(243, 87%, 12%, 0.2);
}

footer {
  display: flex;
  flex-direction: column;
  padding: 5em 4.5em 0 4.5em;
  background-color: var(--Very-Dark-Blue);
  color: white;
  /* border: 2px solid orange; */

}

footer > .logo {
  filter: brightness(0) invert(1);
  /* border: 1px solid orange; */
  margin-bottom: 2em;
}

footer .logo img {
  width: initial;
}

.footer_option {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 2em;
  /* border: 1px dotted orange; */
}

.footer_option > ul {
  padding: 0;
  /* border: 1px solid red; */
}

.footer_option > ul > li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1em;
}

li img {
  margin-right: 0.5em;
}

.socials {
  flex-direction: row;
  justify-content: center;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f6f6fe;
  border-radius: 50px;
  width: 2em;
  margin: 0 1em;
  height: 2em;
  cursor: pointer;
}

.social-icon:hover {
  background-color: white;
}

.social-icon:hover > .fa-facebook-f  {
  color: var(--Very-Dark-Blue);
}

.social-icon:hover > .fa-twitter  {
  color: var(--Very-Dark-Blue);
}

.social-icon:hover > .fa-instagram  {
  color: var(--Very-Dark-Blue);
}

@media screen and (min-width: 500px) {
  .navbar {
    padding: 2em 2em 1em 4.5em;
  }
}

@media screen and (min-width: 700px) and (max-width: 1100px) {
  .content {
    flex-direction: initial;
  }

  .menu {
    margin-right: 1.5em;
  }

  .menu a {
    padding: 0 2em 0 2em;
  }

  .right-content {
    flex: initial;
  }

  .right-content > img {
    max-width: 85%;
    margin: 70px auto;
  }

  .early-access {
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px) {

  .navbar {
    padding: 2em 2em 1em 4.5em;
  }

  .content {
    padding: 2em 4.5em 5em 4.5em;
  }

  .logo img {
    width: auto;
  }

  .menu {
    margin-right: 1.5em;
  }
  
  .menu a {
    padding: 0 2em 0 2em;
  }

  .left-content,
  .right-content {
    text-align: initial;
  }

  .content-shadow .left-content {
    align-items: initial;
  }

  .input-form {
    flex-direction: initial;
    justify-content: space-between;
  }
  
  .input-form > input {
    margin-bottom: 0;
  }

  .input-form > input , .btn {
    width: 16em;
  }

  .testimonial-card {
    width: 50%;
  }

  .testimonial-card p,
  .profile-name,
  .profile-company {
    font-size: initial;
  }

  .early-access {
    flex-direction: initial;
  }
  
  .column-form {
    flex-direction: column;
    align-self: flex-end;
  }

  .column-form > input {
    width: calc(16em * 2);
  }

  .column-form > .btn {
    margin-top: 1.5em;
  }  

  .early-access .right-content {
    flex: 80%;
  }

  .right-content {
    flex: 50%;
  }

  .footer-col {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1100px) {
  .content {
    flex-direction: initial;
  }
}
